""" Common settings -------------------------
set relativenumber
set number
set clipboard=unnamedplus
set hlsearch

""" Idea specific settings ------------------
set ideajoin

""" Mappings --------------------------------
map <CR> :noh<CR><CR>
map <C-2> <C-2>
map <C-6> <C-6>
map <C-A> <C-A>
map <C-B> <C-B>
map <C-C> <C-C>
map <C-D> <C-D>
map <C-E> <C-E>
map <C-F> <C-F>
map <C-G> <C-G>
map <C-I> <C-I>
map <C-J> <C-J>
map <C-K> <C-K>
map <C-L> <C-L>
map <C-M> <C-M>
map <C-N> <C-N>
map <C-P> <C-P>
map <C-R> <C-R>
map <C-S> <C-S>
map <C-T> <C-T>
map <C-U> <C-U>
map <C-V> <C-V>
map <C-W> <C-W>
map <C-X> <C-X>
map <C-Y> <C-Y>
